html, body{
  height:100%;
}

body {
  margin: 0px;
}
.card {
  position: absolute;
  left: 70px;
  top: 50px;
  width: 200px;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 2px 16px;
  padding-bottom: 16px;
  left: 20%;
  margin-left: -100px;
}

@media only screen and (max-width: 1500px) {
  .card {
    top: 500px;
  }
  .card img {
    top: -470px;
    left: -50px;
    position: absolute;
    opacity: 1;
  }
}

@media only screen and (max-width: 900px) {
  .card {
    top: 500px;
  }
  .card img {
    top: -470px;
    left: -50px;
    position: absolute;
    opacity: 1;
  }
}

.card.xl {
  width: 400px;
}

.card img {
  padding-top: 20px;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.card.container {
  padding: 2px 16px;
  width: 50px;
}

.content {
  margin-left: 40px;
}

.wikipedia {
  margin: 0 auto;
  max-width: 1200px;
}
.wikipedia h1,
h2,
h3,
h4 {
  font-family: "Lobster", cursive;
}
.wikipedia h2 {
  margin-left: 15px;
}
.wikipedia h3 {
  margin-left: 25px;
}
.wikipedia p {
  font-family: "Arial";
  margin-left: 50px;
}
.wikipedia p::first-letter {
  font-size: 200%;
  color: #666666;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navigation li {
  float: left;
}

.navigation a {
  font-weight: bold;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none !important;
  font-size: 16px;
}

.navigation li a:hover {
  background-color: #111;
}

.radio-thumbnail {
  position: relative;
  cursor: pointer;
  margin: 10px;
  width: 150px;
  height: 150px;
}
.top-img {
  position: relative;
  cursor: pointer;
}



a, p,i,b {
  color: lightgrey
}
body {
  background: #302e2e
}
img {
  filter:  brightness(0.85);
}

img:hover {
  filter: none;
}

.btm-img {
  position: relative;
  cursor: pointer;
  
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  filter: none;
  text-align: center;
}
.top-img:hover .overlay,
.btm-img:hover .overlay {
  opacity: 1;
}
.overlay i {
  color: #fff;
  top: 42%;
  transform: translate(-50%, 0);
  position: absolute;
  font-size: 10px;
}

.playPause {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 74px;
  outline: 0;
  border-color: transparent transparent transparent #666666;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 37px 0 37px 60px;
}
.playPause.paused {
  border-style: double;
  border-width: 0px 0 0px 60px;
}
.playPause:hover {
  border-color: transparent transparent transparent #404040;
}