.card {
  position: absolute;
  left: 70px;
  top: 50px;
  width: 200px;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; 
  padding: 2px 16px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.card.container {
  padding: 2px 16px;
  width: 50px;
}
